@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', cursive;
    font-weight: 600;
}

body {
    background-attachment: fixed;

}



header {
    height: 100px;
    line-height: 100px;
    background-color: #ffffff;
    height: 100px;
    color: #080808;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    text-align: right;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

header h1 {
    text-align: center;
    color: #000000;
    font-family: 'Great Vibes', 'cursive';
    font-size: 4.5em;

}



.widget {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.num {
    text-align: center;
}



.sal {
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(197, 58, 58);
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    animation: pulsatingButton 1s linear infinite;
}

@keyframes pulsatingButton {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}



.rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 00px;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.room-image {
    margin-top: 10px;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid black;
}

.room-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.room-name {
    font-weight: bold;
    font-size: 20px;
}

.room-price {
    color: green;
    font-size: 18px;
}

.room-button {
    background-image: linear-gradient(45deg, #45b1fd 0%, #00e0d6 50%, #c8f067 100%);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.5s;
}




.room-button:hover {
    transform: scale(1.2);
}



.numbers {
    margin-top: 200px;
}


.bron {
    position: fixed !important;
    bottom: 6px !important;
    right: 2px !important;
    z-index: 10 !important;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 5px 10px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #307800 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: 0.5s;
}



.bron:hover {
    transform: scale(1.1);
}


.name {
    text-align: left;
    position: relative;
}

.photo1 {
    position: relative;

    margin: 10vw;

    justify-content: space-around;
}

.ph {
    border: 1px solid black;
    border-radius: 20px;
    max-height: 30%;
    max-width: 30%;
    transition: 0.5s;
}

.ph:hover{
    transform: scale(1.6);
}


.podval {
    color: rgb(89, 158, 21);
}

.hellophoto {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 0;
    max-width: 99vw;
    min-height: 100vh;
    font-family: 'Great Vibes', 'cursive';
}

.map {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;

    min-height: 300px;
    max-width: 90vw;
}



.hellotext {
    font-size: 320%;
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    /* ширина и высота 2 блока */
    width: 500px;
    height: 250px;
    /* Значения определяются в зависимости от его размера */
    /* margin-left = - width / 2 */
    margin-left: -250px;
    /* margin-top = - height / 2 */
    margin-top: -125px;
    font-family: 'Great Vibes', 'cursive';
}

.white {
    background-color: white;

}

.onas {
    position: relative;
    top: 100px;
    text-align: center;
    background-color: white;
    z-index: 10;

    height: 450px;

}

.fo {
    font-size: 300%;
    background-color: white;
}

.onastext {
    left: 50%;
    position: absolute;
    text-align: left;
    margin-right: 55px;
    margin-top: 20px;
    font-size: medium;
    background-color: white;

}

.onasphoto {
    position: absolute;
    margin: auto;
    margin-top: 70px;
    background-color: white;
}

.onas1 {
    width: 180px;
    height: 240px;
    left: 5%;
    position: absolute;
    z-index: 20;
    top: 20px;
    margin-top: 60px;

}

.map1 {
    position: relative;
    margin: auto;
    text-align: center;
    font-size: 200%;
}

.map {
    margin: 20px;
    text-align: center;
    border-radius: 3%;
    border: 1px solid black;
    display: block;

    margin-left: auto;
    margin-right: auto;
    max-width: 90vw;
}

.wifi {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: aquamarine;
}

.photo {
    position: relative;
    text-align: center;
    font-size: 200%;
}

.numbertext {
    text-align: center;
    font-size: 200%;
}

.number {
    color: #ffffff;
}

.features {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.features h2 {
    text-align: center;
}

.features ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

}

.features li {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.features img {
    width: 100px;
    height: 100px;

}

.features h3 {
    text-align: center;
}

.features p {
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 2ss ease-in-out;
    /* или all 2s ease-in-out */
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer p {
    font-size: 16px;
}

footer ul {
    list-style: none;
}

footer ul li {
    font-size: 16px;
}

footer ul li i {
    margin-right: 10px;
}

footer ul.social-icons {
    display: flex;
}

footer ul.social-icons li {
    margin-right: 20px;
}

footer ul.social-icons li a {
    color: #fff;
}

footer ul.social-icons li a:hover {
    color: #f0f0f0;
}

.row {
    margin: 10px;
}

.ninf {
    display: none;
    Visibility: hidden;
    position: absolute;
}

.t-cover__arrow {
    position: absolute;
    z-index: 9;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .t-cover__arrow {
        bottom: 14px;
    }
}

.t-cover,
.t-cover__carrier {
    height: 700px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
}



@media (max-width: 767px) {

    .widget,
    .inf
 {
        display: none;
        Visibility: hidden;
    }

    .hellophoto {

        display: flex;
        height: 100vw;
        width: 100vh;

    }

    .hellotext {
        top: 30%;
        max-width: 99vw;
        text-align: center;
        margin: auto;
        left: 0;
    }


    .map {

        display: flex;
        min-height: 300px;
        max-width: 80vw;
        position: relative;
        min-width: 90vw;
        max-width: 90vw;
    }

    .onastext {
        left: 0%;
        margin-left: 10%;
        margin-right: 10%;

    }

    .onas1 {
        display: none;
        Visibility: hidden;
    }

    .bron {
        display: none;
        Visibility: hidden;
    }

    .photo1 {
        margin: 15px;
    }

    .ph {
        height: 100%;
        width: 100%;
    }

    .ninf {
        display: inline;
        visibility: visible;
        position: relative;
    }

    .hellotext {
        font-size: 200%;
        width: 3s00px;
    }
    .ph {
        border: 1px solid black;
        border-radius: 20px;
        max-height: 80%;
        max-width: 80%;
        transition: 0.5s;
    }
    
    .ph:hover{
        transform: scale(1.3);
    }
header{
   position:static;
}




.preloader {
    position: fixed;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e2e2e2;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}